*, *::before, *::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
}

h1 {
    font-size: 47px;
    margin-bottom: 0;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 15px;
    font-weight: 100;
    line-height: 20px;
}

.row p {
    font-size: .8rem;
}

.hero {
    background-color: #23424A;
    padding: 40px 0;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 900px;
}

.cont_2 {
    width: 60%;
}

.cont_2 p {
    font-size: .8rem;
    margin-bottom: 4.4em;
}

.cont_2 .btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: #38CFD9;
    color: #23424A;
    border-radius: 100px;
    padding: .8em 1.3em;
    text-transform: uppercase;
    font-weight: 900;
}

.btn:hover {
    transition: .3s ease;
    transform: scale(1.1);
}

.row {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 30px 0;
}

.row .col {
    width: 100%;
}

.col + .col {
    margin-left: 10px;
}

.row_2 h3 {
    color: #87629A;
}

.row_2 p {
    color: #3A3A3A;
}

.row_3 {
    background-color: #136C72;
    width: 100%;
}

#row_3, p, h3 {
    color: #fff;
}

@media(max-width: 800px) {
       h1 {
        font-size: 37px;
    }

    .cont_2 {
        width: 100%;
        text-align: center;
    }

    .row {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        padding: 30px 0;
    }
}
